img {
    width: 250px;
    border-style: solid;
    padding: 5px;
}

body {
    text-align: center;
    background-color: #52f2ca;
}

p {
    font-size: 21px;
    color: darkblue;
    font-weight: bold;
}
.line{
    width: 12px;
    background-color: black;
    
}
